body {
    margin: 0px;
    background-image: url(img/DEback.jpg);
    background-size:fill;
    background-size: 100%;
    background-attachment:fixed;
    
}

div#container{
    position: fixed;
    width: 100%;
    height: 30px;
    position: fixed;
    padding-top: 5px;
    top: 0px;
    background-color: #0e1212;
}
div#container a{
    color: whitesmoke;
    font: 20px "Roboto Mono", monospace;
    margin-left: 2%;
}
div#container a#center{
    margin-left: 34%;
}
div#mainbox{
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color:rgba(101, 216, 245, 0.308);
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
} 



div#tagok{
    margin-left: 10%;
    height: 30%;
}
div#tagok div{
    width: 15%;
    float: left;
    margin-right:10%;
    text-align: center;
    
}
div#mainbox img{
    border-radius: 7px;
}
div#tagok ul{
    list-style: none;
    padding: 0;
    margin-right:0;
    float: right;
    
}
div#mainbox a{
    font: 15px "Roboto Mono", monospace;
    color: black;
}