body {
    margin: 0px;
    background-image: url(img/DEback.jpg);
    background-size:fill;
    background-size: 100%;
    background-attachment:fixed;
    
}


div#container div a{
    transition: color .2s ease-out;
    color: whitesmoke;
    font: 20px "Roboto Mono", monospace;
    /*margin-left: 2%;*/
}


#container{
    width:100%;
    height: 30px;
    top: 0px;
    padding-top: 5px;
    background-color: #0e1212;
}
#left{
    float:left;width:100px;
    padding-left: 2%;
}
#left a:hover{
    transition: color .2s ease-out;
    color: #B80F0A;
}
#right{
    float:right;width:100px;
    
}
#center{margin:0 auto;width:100px;}
div#mainbox{
    width: 80%;
    background-color:rgba(101, 216, 245, 0.308);
    border-radius: 10px;
    margin: auto auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
} 
div#mainbox {
    font: 18px "Roboto Mono", monospace;
    color: rgb(0, 0, 0);
}

.carousel-inner div img{
    width: 50%;
}
div#tagok div{

    text-align: center;
}
div#tagok div img{
    width: 50%;
}
div#mainbox img{
    border-radius: 7px;
}


div#mainbox a{
    font: 15px "Roboto Mono", monospace;
    color: black;
}

#iskola:hover {
    color:rgb(255, 0, 0);
    transition: color .1s ease-out;
}

#ido 
{
    float: right;
    color:lightgray;
}
.modal fade{
    background-color: tomato;
}
